@import "./base/_typography";
@import "./utils/_mixins";
@import "./utils/_variables";
@import "./layouts/_bloc";
@import "./components/_animation";
/* Général */
.font{
    font-family: 'Shrikhand', cursif ;
    font-weight: lighter;
    padding-bottom: nth($pixel, 3);
}
h2 {
    margin-left: nth($pixel, 3);
}
h3 {
    margin-top: 4px;
    margin-bottom: 0px;  
}
/* Header */
.recherche {
    width: 100%;
    height: 70px;
    color: darken($color: $back, $amount: 70%);
    display: flex;
    flex-direction: row;
    @include flexcenter;
    gap: nth($pixel, 2);
    background-color: darken($color: $back, $amount: 5%);
    box-shadow: inset 0 20px 10px -20px darken($color: $back, $amount: 30%);
}
.taille {
    font-weight: 1000;
    font-size: nth($pixel, 4);
    padding: 10px 10px 10px;
}
.main {
    background-color: $back;
    display: flex;
    flex-direction: column;
    @include flexcenter;
}
.btn {
    padding: 17px 30px 17px;
    margin: 25px 10px 50px;
    font-size: 18px;
    border-radius: nth($pixel, 4);
    background: $gradient;
    color: $color-light;
    border: 0px;
    @include btn-hover;
    &:hover {
        opacity: 0.5;
        box-shadow:  0 10px 10px 10px darken($color: $back, $amount: 30%);
    }    
}
/* Fonctionnement */
.fonction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    @media (min-width:1280px) {
        display: flex;
        flex-direction: row;
        gap: nth($pixel, 4);
        justify-content: center;
    }
}
.rond {
    position: relative;
    background: $color-primary;
    width: nth($pixel, 3);
    height: nth($pixel, 3);
    left: -40px;
    border-radius: 50%;
    @include flexcenter;
    color: $color-light;
    font-size: nth($pixel, 1);  
}
.align {// Bouton de fonctionnement
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: nth($pixel, 3);
    padding: 28px;
    margin-bottom: nth($pixel, 3);
    gap: nth($pixel, 2);
    font-weight: 500;
    background: $back;
    @include shadow;
    &:hover {
        background-color: lighten($color: $color-primary, $amount: 30%);
        & i {
            color: $color-primary;
        }
    }
}
/* Section */
.section {
    background: $back;
    padding-top: nth($pixel, 3);
    padding-bottom: nth($pixel, 7);

}
.section_media {
    @media (min-width:991px) and (min-width:1024px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: nth($pixel, 4);
        justify-content: center;
        margin: 0 10% 0 10%; 
    }
}
.cubefull {
    margin: auto;
    height: 280px;
    width: 85%;
    background: $color-light;
    border-radius: nth($pixel, 3);
    margin-bottom: nth($pixel, 2);
    box-shadow: 0px 0px 15px 0px darken($color: $back, $amount: 30%);
    @media (min-width:991px) {
        width: 550px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: all 0s ease 0s;
        box-shadow: 0px 0px 10px 0px $color-primary;
    }
}
.cuberest {
    text-decoration: none;
    margin-top: nth($pixel, 1);
    gap: 10px;
    padding-left: nth($pixel, 2);
    color: black;
    & a {
        @include decnone;
    }
}
.imgsection {
    @include image;
    background-image: url("../asset/jay-wennington.jpg");
    background-position: center;
}    
.imgsection2 {
    @include image;
    background-image: url("../asset/stil.jpg");
    background-position: 25% 58%;
}
.imgsection3 {
    @include image;
    background-image: url("../asset/toa-heftiba.jpg");
    background-position: 25% 75%;
}
.imgsection4 {
    @include image;
    background-image: url("../asset/louis-hansel.jpg");
    background-position: center bottom;
}
.heart {
    left: 90%;
    bottom: 40px;
}

.new {
    position: relative;
    top: nth($pixel, 1);
    left: 80%;
    font-size: nth($pixel, 1);
    width: 80px;
    height: nth($pixel, 4);
    border-radius: 3px;
    @include flexcenter;
    background: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 50%);
}