@import "./base/_typography";
@import "./utils/_mixins";
@import "./utils/_variables";
@import "./layouts/_bloc";
@import "./components/_animation";
/* Général */
h1, h3, h2 {
    font-family: 'Shrikhand', cursif;
}
h4 {
    width: nth($pixel, 5);
    text-transform: uppercase;
    border-bottom: 2px solid $color-tertiary;
}
.font {
    font-weight: bolder;
}
/* Icone */
.arrow {
    position: absolute;
    top: 63px;
    left: nth($pixel, 3);
    color: darken($color: $back, $amount: 70%);
}
.heart {
    left: 90%;
    bottom: nth($pixel, 7);
}
.check {
    background-color: $color-tertiary;
    margin-right: -55px;
    width: nth($pixel, 6);
    @include flexcenter;
    transition: margin-right .5s;
    color: $color-light;
}
/* Image des menu */
.imgmenu {
    @include image_menu;
    background-image: url("../asset/jay-wennington.jpg");
    background-position: center;
}
.imgmenu2 {
    @include image_menu;
    background-image: url("../asset/louis-hansel.jpg");
    background-position: center bottom 25px;
    @media (min-width:1280px) {
        background-position: 25% 75%;
    }
}
.imgmenu3 {
    @include image_menu;
    background-image: url("../asset/stil.jpg");
    background-position: 25% 68%;
    @media (min-width:1280px) {
        background-position: 25% 60%;
    }
}
.imgmenu4 {
    @include image_menu;
    background-image: url("../asset/toa-heftiba.jpg");
    background-position: center bottom 5px;
    @media (min-width:1280px) {
        background-position: 20% 75%;
    }
}
/* Section */
.main {
    position: relative;
    bottom: nth($pixel, 7);
    padding-left: nth($pixel, 3);
    padding-top: nth($pixel, 3);
    background: $back;
    border-radius: 50px 50px 0px 0px;
    padding-bottom: nth($pixel, 6);
    @media (min-width:1280px) {
        bottom: 40px;
    }
}
.titreplat {// Cube blanc entier
    display: flex;
    border-radius: nth($pixel, 1);
    background-color: $color-light;
    margin-bottom: nth($pixel, 1);
    margin-right: nth($pixel, 1);
    @include shadow;
    overflow:  hidden;
    animation: down_animation 1.2s 0.5s ease-in;
    @media (min-width:1280px) {
        width: 400px;
        font-size: 1rem;
    }
}
.titreplat:hover .check {
    margin-right: 0;
    & i {
        animation: turn 0.5s ease-in-out;
    }
}
.animationdelay {
    animation: down_animation 1.4s 0.5s ease-in;
}
.animationdelay2 {
    animation: down_animation 1.7s 0.5s ease-in;
}
.animationdelay3 {
    animation: down_animation 1.9s 0.5s ease-in;
}
.animationdelay4 {
    animation: down_animation 2s 0.5s ease-in;
}
.animationdelay5 {
    animation: down_animation 2.1s 0.5s ease-in;
}
.animationdelay6 {
    animation: down_animation 2.3s 0.5s ease-in;
}
.animationdelay7 {
    animation: down_animation 2.5s 0.5s ease-in;
}
.animationdelay8 {
    animation: down_animation 2.7s 0.5s ease-in;
}
.animationdelay9 {
    animation: down_animation 2.9s 0.5s ease-in;
}
.menu_description {
    padding: 1rem;
    @include texte;
    & div {
        @include texte;
    }
}
.menu_media {
    @media (min-width:1280px) {
        display: flex;
        justify-content: center;
        gap: nth($pixel, 2);
    }
}
.prix {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    font-weight: 900;
}
.btn {
    padding: 17px 50px 17px;
    margin: nth($pixel, 5);
    font-size: 18px;
    border-radius: nth($pixel, 4);
    background: $gradient;
    color: $color-light;
    border: 0px;
    @include btn-hover;
    &:hover {
        box-shadow:  0 10px 10px 10px darken($color: $back, $amount: 30%);
        opacity: 0.5;
    }    
}
footer {
    position: relative;
    bottom: nth($pixel, 5);
    height: 1rem;
}