@import "../utils/_variables";

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: nth($pixel, 2);
}
header {
    font-family: 'Shrikhand', cursif ;
    @include flexcenter;
}
.none {
    text-decoration: none;
    color: $color-light;
}
.none2 {
    text-decoration: none;
}
.foot {
    background: darken($color: $back, $amount: 70%);
    padding: nth($pixel, 4);
    color: $color-light;
    padding: nth($pixel, 4);
    line-height: 2rem;
}
.detailfooter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.gap {
    gap: nth($pixel, 1);
}